
@{
    ViewData["Title"] = "Contact Us";
}

<h1>Contact Us</h1>
<p>Telephone: 033 330 7716</p>
<p>Email address: Sales@KhumaloCraft.co.za</p>
<p>For serious enquiries only:</p>
<p>James@KhumaloCraft.co.za</p>

